DATASOURCE_URL=jdbc:oracle:thin:@oracle.fiap.com.br:1521:orcl
DB_USERNAME=rm560027
DB_PASSWORD=270304
JWT_SECRET=boneguard-super-secret-key-fiap-2024-must-be-at-least-32-chars
JWT_EXPIRATION_MS=86400000
RABBITMQ_HOST=localhost
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
VISION_SERVICE_URL=http://localhost:5000
GROQ_API_KEY=sua_chave_groq_aqui
